.navbar{
border-radius:0;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:focus {
    /*background-color: #1b2631;*/
    color: #18bc9c;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}