<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <p class="head">Job Board</p>
        </div>
        <div class="pull-right">
            <a class="btn btn-success btn-sm" [routerLink]="['/board/boards/form']">Create New</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <br>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="text-center">Actions</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th class="text-center">Online Apply</th>
                    <th class="text-center">Email Apply</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let board of boards;let i = index;">
                    <td class="text-center">
                        <a title="Edit" class="btn btn-warning btn-sm actionBtn" [routerLink]="['/board/boards/form/', board.id]">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <button (click)="delete(board.id,i)" title="Delete" class="btn btn-danger btn-sm actionBtn">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>{{board.id}}</td>
                    <td>{{board.name}}</td>
                    <td class="text-center"><span class="fa" [ngClass]="{
              'fa-check text-success':board.isOnlineApply,
              'fa-times text-danger':!board.isOnlineApply
            }"></span></td>
                    <td class="text-center">
                        <span class="fa" [ngClass]="{
              'fa-check text-success':board.isEmailApply,
              'fa-times text-danger':!board.isEmailApply
            }"></span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>