<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <p class="head">Edit User's Role</p>
        </div>
        <div class="pull-right">
            <a class="btn btn-default btn-sm" [routerLink]="['/board/users']">Cancel</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="email">Email </label> <span class="fa fa-asterisk text-danger"></span>
                <input [attr.disabled]="true" formControlName="email" name="email" id="email" class="form-control" [(ngModel)]="user.email"/>
            </div>
            <div class="form-group">
                <label for="roleName">Change Role</label> <span class="fa fa-asterisk text-danger"></span>
                <select formControlName="roleName" name="roleName" id="roleName" class="form-control" [(ngModel)]="user.role">
                    <option></option>
                    <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
                </select>
                <div *ngIf="!roleName?.valid && roleName?.touched">
                    <span class="text-muted" *ngIf="roleName.errors?.required">Role is required.</span>
                </div>
            </div>
            <br />

            <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-block">Save</button>
            <!--<p>{{form.value | json}}-->
        </form>
    </div>
</div>
