.main{
    border:1px solid #ebebeb;
    padding :20px;
    margin-top:40px;
}

h3{
    margin-top:0;
    margin-bottom:40px;
}

input{
    margin-bottom:10px;
}

button {
    padding-right: 30px;
    padding-left: 30px;
}
