<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <p class="head">Register a New User</p>
        </div>
        <div class="pull-right">
            <a class="btn btn-default btn-sm" [routerLink]="['/admin/users']">Cancel</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="email">Email </label> <span class="fa fa-asterisk text-danger"></span>
            <input formControlName="email" name="email" id="email" class="form-control"/>
            <div *ngIf="!email?.valid && email?.touched">
                <span class="text-muted" *ngIf="email.errors?.required">Email is Required.</span>
                <span class="text-muted" *ngIf="email.errors?.email && !email.errors?.required">Email is not in valid format.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label> <span class="fa fa-asterisk text-danger"></span>
            <input formControlName="password" name="password" id="password" class="form-control"/>
            <div *ngIf="!password?.valid && password?.touched">
                <span class="text-muted" *ngIf="password.errors?.required">Password is required.</span>
                <span class="text-muted" *ngIf="password.errors?.minlength">Minimum length is 6 characters.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label> <span class="fa fa-asterisk text-danger"></span>
            <input formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control"/>
            <div *ngIf="!confirmPassword?.valid && confirmPassword?.touched">
                <span class="text-muted" *ngIf="confirmPassword.errors?.required">Confirm password is required.</span>
                <span class="text-muted" *ngIf="confirmPassword.errors?.matchPassword">Failed to confirm your password.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="roleName">Assign Role</label> <span class="fa fa-asterisk text-danger"></span>
            <select formControlName="roleName" name="roleName" id="roleName" class="form-control">
                <option></option>
                <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
            </select>
            <div *ngIf="!roleName?.valid && roleName?.touched">
                <span class="text-muted" *ngIf="roleName.errors?.required">Role is required.</span>
            </div>
        </div>
            <br/>
            
            <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-block">Save</button>
            <!--<p>{{form.value | json}}-->
</form>
    </div>
</div>
