<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <p class="head">Create</p>
        </div>
        <div class="pull-right">
            <a class="btn btn-default btn-sm" [routerLink]="['/admin/boards']">Cancel</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <input type="hidden" [ngModel]="board.id" formControlName="id" name="id" id="id"/>
            <div class="form-group">
                <label for="name">Job Board </label> <span class="fa fa-asterisk text-danger"></span>
                <input [ngModel]="board.name" formControlName="name" name="name" id="name" class="form-control" />
                <div *ngIf="!name?.valid && name?.touched">
                    <span class="text-muted" *ngIf="name.errors?.required">Name is required.</span>
                </div>
            </div>
            <div class="form-group">                
                <label>
                    <input [ngModel]="board.isOnlineApply" type="checkbox" formControlName="isOnlineApply" name="isOnlineApply" id="isOnlineApply" /> Online Apply 
                </label>          
            </div>
            <div class="form-group">
                <label>
                    <input [ngModel]="board.isEmailApply" type="checkbox" formControlName="isEmailApply" name="isEmailApply" id="isEmailApply" /> Email Apply
                </label>                
            </div>
           
            <br />

            <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-block">Save</button>
            <p>{{form.value | json}}
        </form>
    </div>
</div>

